    <!-- Start Footer -->
    <footer>
        <div class="footer-icon">
         <a class="btn1" href="#">
            <i class="fab fa-google fa-3x"></i> 
         </a>
          <a class="btn1" href="#">
              <i class="fab fa-facebook-f fa-3x"></i>
          </a>
          <a class="btn1" href="#">
              <i class="fab fa-twitter fa-3x"></i> 
          </a>
          <a class="btn1"  href="#">
             <i class="fab fa-linkedin-in fa-3x"></i>
          </a>
               <p>© 2019 by The Survey Space Group</p>
          </div>
     
</footer>