 <!-- NavBar-->
 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
  </button>
    <!-- Item of navbar-->
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <a style="padding-right: 50px;" href="#" class="navbar-brand">Logo</a>
    <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/features">Features & Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/about">About</a>
            </li>
      </ul>
         <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a  class="nav-link" href="<%= isAuth == true? '/logout' : 'signin' %>" ><i style="padding-right:  10px;" class="fas fa-sign-in-alt fa-1x"></i><%=  isAuth == true? 'Sign Out' : 'Sign In' %></a>
            </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="/en">English</a>
                     <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/ar">Arabic</a>
                        </div>
            </li>
      </ul>
  </div>div>
  <!-- End Item of navbar-->
</nav>
<!-- End NavBar-->