<html>
    <head>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
          <link rel="stylesheet" href="../css/fixed.css">
          <link rel="stylesheet" href="../css/animate.css">
          <link rel="stylesheet" href="../css/about.css">
    </head>
    <body>
      
      <%- include('Layouts/nav.ejs')%>

       
            <div class="landing">
               <div class="home-wrap">
                  <div class="home-inner">
                  <div class="home-shadow"></div>  
                  </div> 
               </div>
            </div>
            <div class="caption text-center">
                 <h1 class="animated rollIn">About Us</h1>
                 <p style="font-size: 20px;">More informations about us <i class="fas fa-arrow-down"></i></p>
            </div>
            
            <div class="about-text">
            <div class="container">
                <h1>The Survey Space Group</h1>
                <p> A Third year students at Faculty of Information Technology Engineering at Damascus University.  </p>
            </div>
            </div>
            
            <section class="gallery-block cards-gallery">
               <div class="container text-center">
                  <div class="heading ">
                    <h2 >Our Team</h2>
                  </div>
                  <div class="row">
                     <div class="col-md-6 col-lg-4">
                       <div class="card border-0 transform-on-hover">
                       <a class="lightbox" href="../images/humsy.jpg">
                       <img class="card-img-top" src="../images/humsy.jpg"></a>
                       <div class="card-body">
                         <h6 style="font-size: 16px;" >Muhammad Al-Humsy , BE Developer </h6>
                          <p class="fas fa-envelope class="text-muted card-text"> mohamad.1999.syr@gmail.com </p>
                            <p  class="fas fa-phone class="text-muted card-text"> +963 994 880 976</p>  
                       </div>
                       </div>
                     </div>
                                
                    <div class="col-md-6 col-lg-4">
                       <div class="card border-0 transform-on-hover">
                       <a class="lightbox" href="../images/ayash.jpg">
                       <img class="card-img-top" src="../images/ayash.jpg"></a>
                       <div class="card-body">
                         <h6>Muhammad Ayash , BE Developer </h6>
                          <p class="fas fa-envelope  class="text-muted card-text"> mohammed.ayash998@gmail.com </p>
                            <p class="fas fa-phone class="text-muted card-text"> +963 991 003 765</p>  
                       </div>
                       </div>
                     </div>
                     
                      <div class="col-md-6 col-lg-4">
                       <div class="card border-0 transform-on-hover">
                       <a class="lightbox" href="../images/ahmad.jpg">
                       <img class="card-img-top" src="../images/ahmad.jpg"></a>
                       <div class="card-body">
                         <h6>Ahmad Akbik, FE Developer </h6>
                          <p class="fas fa-envelope  class="text-muted card-text"> ahmad.akb.1998@gmail.com </p>
                            <p class="fas fa-phone class="text-muted card-text"> +963 944 220 546</p>  
                       </div>
                       </div>
                     </div>
                     
                      <div class="col-md-6 col-lg-4">
                       <div class="card border-0 transform-on-hover">
                       <a class="lightbox" href="../images/darwish.jpg">
                       <img class="card-img-top" src="../images/darwish.jpg"></a>
                       <div class="card-body">
                         <h6>Mohamed Darwish, FE Developer </h6>
                          <p class="fas fa-envelope  class="text-muted card-text"> abolorans676@gmail.com </p>
                            <p class="fas fa-phone class="text-muted card-text"> +963 937 479 291</p>  
                       </div>
                       </div>
                     </div>
                     
                      <div class="col-md-6 col-lg-4">
                       <div class="card border-0 transform-on-hover">
                       <a class="lightbox" href="../images/aya.jpg">
                       <img class="card-img-top" src="../images/aya.jpg">
                       </a>
                       <div class="card-body">
                         <h6>Aya Al-Hamady, FE Developer </h6>
                          <p class="fas fa-envelope  class="text-muted card-text"> aya.1998@gmail.com </p>
                            <p class="fas fa-phone class="text-muted card-text"> +963 937 479 291</p>  
                       </div>
                       </div>
                     </div>        
                  </div>    
               </div>  
            </section>
                <!-- Start Contact Section-->
            <div class="contact">
              <div class="container">
               <div class="contact-text">
                 <span>Need more details? Contact us </span>
                 <span>We are here to assist. Contact us by phone, email or via our social media<br> channels.</span>
               </div>
               <a href="/home/contact">
               <div class="contact-buuton">
                  <button>Contact Us</button>
               </div>
              </a>
            </div>
         </div>
        <!-- EndContact Section-->
          <!-- Start Footer -->
        <footer>
                 <div class="footer-icon">
                  <a class="btn1" href="#">
                     <i class="fab fa-google fa-3x"></i> 
                  </a>
                   <a class="btn1" href="#">
                       <i class="fab fa-facebook-f fa-3x"></i>
                   </a>
                   <a class="btn1" href="#">
                       <i class="fab fa-twitter fa-3x"></i> 
                   </a>
                   <a class="btn1"  href="#">
                      <i class="fab fa-linkedin-in fa-3x"></i>
                   </a>
                        <p>© 2019 by The Survey Space Group</p>
                   </div>
        </footer>
     <!-- Start Scroll To Tob Button-->
        <div id="scroll-top">
          <i class="fa fa-chevron-up fa-3x"></i>   
      </div>
     <!-- End Scroll To Tob Button-->
        
         <script src="../js/jquery-3.3.1.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="../js/bootstrap.js"></script>
          <script src="../js/MyJavaScript.js"></script>
          <script src="../js/base.js"></script>
    </body>
</html>