<! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1" >
        <title>Features & Services</title>
        <!-- Style Source Files -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/font-awesome.min.css">
          <link rel="stylesheet" href="../css/fixed.css">
          <link rel="stylesheet" href="../css/animate.css">
        <link rel="stylesheet" href="../css/features-style.css">       
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
         <!-- End of  Style Source Files -->
    </head>
    <%-include('layouts/nav.ejs')%>

        <div class="feturs-inner">
             <div class="feturs-shadow"></div>
            </div>
             <div class="caption text-center">
                <h1 class="animated lightSpeedIn">FEATURES & SERVICES</h1>
             </div>
            <br  />   
           <br /> 
  <p id="p">_____________________________________________________________________________________________________</p>     
             <br />
        <div class=" newsction" >    
        <div class="container">
        <div class="text" >

 <img id="img3" src="../images/mony2.jpg.png" width="100px"   height="100px"  leight="5px"   />
         <span> Creat surveys with Confidence </span>       
            <br/>
           <details id="det">
            <Summary>
                    Read more
            </Summary> 
            <p> 
                Get access to severale templates and a lot of questions<br />
                wonder what to ask again.       
            </p>         
             </details>
                 
      <br />
         
   <p id="">_____________________________________________________________________________________________________</p> 
    
 <img id="img3" src="../images/mony2.jpg.png" width="100px"   height="100px"  leight="5px"   /> 
        
            <span> Creat surveys with Confidence </span>       
            <br/>
             <details id="det">
            <Summary>
                    Read more
            </Summary> 
            <p> Get access to severale templates and a lot of questions      
            <br />
            wonder what to ask again.       
             </p>                  
             </details>      
      <br />
 <p id="">_____________________________________________________________________________________________________</p> 
       
     <img id="img3" src="../images/mony2.jpg.png" width="100px"   height="100px"  leight="5px"   />   
        
        <span> Creat surveys with Confidence </span>       
            <br/>
           <details id="det">
            <Summary>  
                    Read more
            </Summary> 
            <p> Get access to severale templates and a lot of questions  <br />
                wonder what to ask again.       
            </p>
                       
            </details>    
      <br />               
                  
     <p id="">_____________________________________________________________________________________________________</p> 
          
     <img id="img3" src="../images/mony2.jpg.png" width="100px"   height="100px"  leight="5px"   /> 
     <span> Creat surveys with Confidence </span>
            <br/>
           <details id="det">
             <Summary>
                    Read more
            </Summary> 
               <p> Get access to severale templates and a lot of questions 
               
            <br />
            wonder what to ask again.       
               
               
               </p>
                       
             </details>               
                   
           <br />        
                  
     <p id="">_____________________________________________________________________________________________________</p> 
            
            
                   
     <img id="img3" src="../images/mony2.jpg.png" width="100px"   height="100px"  leight="5px"   /> 
     <span> Creat surveys with Confidence </span>
            <br/>
           <details id="det">
             <Summary>
                    Read more
            </Summary> 
               <p> Get access to severale templates and a lot of questions 
               
            <br />
            wonder what to ask again.       
               
               
               </p>
                       
             </details>            
                         
                   
    <br/>               
     <p id="">_____________________________________________________________________________________________________</p> 
                  
     <img id="img3" src="../images/mony2.jpg.png" width="100px"   height="100px"  leight="5px"   /> 
     <span> Creat surveys with Confidence </span>
            <br/>
           <details id="det">
             <Summary>
                   Read more
            </Summary> 
               <p> Get access to severale templates and a lot of questions 
               
            <br />
            wonder what to ask again.                           
               </p>
                       
             </details>          
                
        </div>
    </div>
 </div>     
              
   <p id="p" _____________________________________________________________________________________________________</p>        
            
            
          </div>  
      
        <br/>
        <br />
          <!-- Start Contact Section-->
            <div class="contact">
              <div class="container">
               <div class="contact-text">
                 <span>Need more details? Contact us </span>
                 <span>We are here to assist. Contact us by phone, email or via our social media<br> channels.</span>
               </div>
               <a href="/home/contact"> 
               <div class="contact-buuton">
                  <button>Contact Us</button>
               </div>
               </a>
            </div>
         </div>
        <!-- EndContact Section-->
      <!-- Start Footer -->
        <footer>
            <div class="row justify-content-center">
                <div class="socialMediaIcons default right horizontal">
                    <a class="icon centerParent none" href="" target="_blank">
                        <i class="fa fa-facebook centerChild fa-2x"></i>
                    </a>
                    <a class="icon centerParent none" href="" target="_blank">
                        <i class="fa fa-twitter centerChild fa-2x"></i>
                    </a>
                    <a class="icon centerParent none" href="" target="_blank">
                        <i class="fa fa-linkedin centerChild fa-2x"></i>
                    </a>
                </div>
            </div>
                    <span>© 2019 by The Survey Space Group</span>
        </footer>
      <!-- End Footer-->
      <!-- End resource section-->
      
      <!-- Start Scroll To Tob Button-->
      <div id="scroll-top">
         <i class="fa fa-chevron-up fa-3x"></i>
         <span style="margin-bottom: 10px;">To Top</span>
          
      </div>
      <!-- End Scroll To Tob Button-->
      
      <!-- Script Source Files -->
        <script src="../js/jquery-3.3.1.js"></script>
        <script src="../js/jquery.nicescroll.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/MyJavaScript.js"></script>
        <script src="../js/base.js"></script>
        <!-- End of Script Source Files -->
       
    </body>
</html>              
                  
                  
                  