<! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1" >
        <title>Features & Services</title>
        <!-- Style Source Files -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
          <link rel="stylesheet" href="../css/fixed.css">
          <link rel="stylesheet" href="../css/animate.css">
        <link rel="stylesheet" href="../css/features-style.css">       
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
         <!-- End of  Style Source Files -->
    </head>

        <div class="feturs-inner">
            <%-include('layouts/nav.ejs')%>
             <div class="feturs-shadow"></div>
        </div>
        <div class="caption text-center">
                <h1 class="animated lightSpeedIn">FEATURES & SERVICES</h1>
        </div>
        <div class=" newsction"> 
            <div class="container">
               <div class="row">
                <div class="col-lg-12 col-md-12" id="lines">
                  <img id="img3" src="../images/mony2.jpg.png" width="100px"   height="100px"  leight="5px"   />
                  <span> Creating different types of Surveys easily </span>       
                  <details id="det">
                     <Summary>
                        Read more
                     </Summary> 
                     <p style="padding: 20px;"> 
                        ex:(Educational , Political , Customer Feedback , Quizzes , etc.)      
                     </p>         
                  </details> 
               </div>
               <div class="col-lg-12 col-md-12" id="lines">
                  <img id="img3" src="../images/mony2.jpg.png" width="100px"   height="100px"  leight="5px"   /> 
                  <span> Design</span>       
                  <details id="det">
                  <Summary>
                        Read more
                  </Summary> 
                  <p style="padding: 20px;"> Designing tools for survey presentation.</p>                  
                  </details> 
               </div>  
               <div class="col-lg-12 col-md-12" id="lines">      
                     <img id="img3" src="../images/mony2.jpg.png" width="100px"   height="100px"  leight="5px"   />   
                     <span> Supporting many ways for publishing survey </span>       
                     <details id="det">
                     <Summary>  
                           Read more
                     </Summary> 
                     <p style="padding: 20px;"> Supporting many ways for publishing survey to the involved people, and ability to filling it whether they were online/offline.       
                     </p>    
                     </details>  
               </div>  
               <div class="col-lg-12 col-md-12" id="lines">
                  <img id="img3" src="../images/mony2.jpg.png" width="100px"   height="100px"  leight="5px"   /> 
                  <span> Analyzing </span> 
                  <details id="det">
                  <Summary>
                        Read more
                  </Summary> 
                     <p style="padding: 20px;"> Analyzing results with several methods.</p>  
                  </details>  
               </div>    
               <div class="col-lg-12 col-md-12" id="lines">                    
                  <img id="img3" src="../images/mony2.jpg.png" width="100px"   height="100px"  leight="5px"   /> 
                  <span> Exporting analyzes </span>
                  <details id="det">
                  <Summary>
                        Read more
                  </Summary> 
                     <p style="padding: 20px;"> Exporting analyzes As files(pdf , docx ,..) </p>   
                  </details>       
               </div> 
               <div class="col-lg-12 col-md-12" id="lines">                         
                  <img id="img3" src="../images/mony2.jpg.png" width="100px"   height="100px"  leight="5px"   /> 
                  <span> Saving users </span>
                  <details id="det">
                  <Summary>
                        Read more
                  </Summary> 
                     <p style="padding: 20px;">  Saving users Data & profiles </p>                    
                  </details> 
               </div>          
            </div>
            </div>
         </div>     
              
   
          <!-- Start Contact Section-->
            <div class="contact">
              <div class="container">
               <div class="contact-text">
                 <span>Need more details? Contact us </span>
                 <span>We are here to assist. Contact us by phone, email or via our social media<br> channels.</span>
               </div>
               <a href="/home/contact"> 
               <div class="contact-buuton">
                  <button>Contact Us</button>
               </div>
               </a>
            </div>
         </div>
        <!-- EndContact Section-->
      <!-- Start Footer -->
      <footer>
        <div class="footer-icon">
         <a class="btn1" href="#">
            <i class="fab fa-google fa-3x"></i> 
         </a>
          <a class="btn1" href="#">
              <i class="fab fa-facebook-f fa-3x"></i>
          </a>
          <a class="btn1" href="#">
              <i class="fab fa-twitter fa-3x"></i> 
          </a>
          <a class="btn1"  href="#">
             <i class="fab fa-linkedin-in fa-3x"></i>
          </a>
               <p>© 2019 by The Survey Space Group</p>
          </div>
       </footer>
      <!-- End Footer-->
      <!-- End resource section-->
      
      <!-- Start Scroll To Tob Button-->
      <div id="scroll-top">
         <i class="fa fa-chevron-up fa-3x"></i>   
      </div>
      <!-- End Scroll To Tob Button-->
      
      <!-- Script Source Files -->
        <script src="../js/jquery-3.3.1.js"></script>
        <script src="../js/jquery.nicescroll.min.js"></script>
        <script src="../js/bootstrap.js"></script>
        <script src="../js/MyJavaScript.js"></script>
        <script src="../js/base.js"></script>
        <!-- End of Script Source Files -->
       
    </body>
</html>              
                  
                  
                  