<html>
    <head>
        <!-- Style Source Files -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/fixed.css">
        <link rel="stylesheet" href="../css/animate.css">
        <link rel="stylesheet" href="../css/My-Surveys.css">
         <!-- End of  Style Source Files -->
    </head>
    
    <body>
      <!-- NavBar-->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                		                  
                  <!-- Item of navbar-->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <a style="padding-right: 50px;" href="/home" class="navbar-brand">Logo</a>
                  <input id="tab-1" type="radio" name="tab"  ><label for="tab-1" class="tab">	<a class="mySurvey" href="/mysurveys">My Surveys</a></label>
                  <input id="tab-2" type="radio" name="tab" checked > <label for="tab-2" class="tab"><a class="mySurvey" href="/mysurveys/mytemplates">My Templates</a></label>
                       <ul class="navbar-nav ml-auto">
                       
                          <li class="nav-item">
                             <button type="button" class="btn btn-secondary" id="My-new-survey"> <i class="fas fa-plus"></i> Create Survey</button>
                          </li>
                           <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= user.name%></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                   <a class="dropdown-item" href="/home/account"> <i class="fas fa-user-alt"></i> Account</a>
                                   <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="/logout"> <i class="fas fa-sign-in-alt"></i> Log out</a>
                            </div>
                          </li>
                    </ul>
                <!-- End Item of navbar-->
            </nav>
            <!-- End NavBar-->

            <section class="gallery-block cards-gallery">
               <div class="container text-center">
                  <div class="row">
                      <!--start of card-->
                      <% for(let i=0; i < templates.length ; i++){ %>
                     <div class="col-md-6 col-lg-4">
                       <div class="card border-0 transform-on-hover">
                       <div class="card-header">
                          <h5> <%= templates[i].title%> </h5>
                       </div>
                       <div class="card-body">
                          <p>Responses Since 0</p>
                          <p>Responses Today 0 </p>  
                       </div>
                       <div class="card-footer">
                          <a class="card-link" href="http://localhost:3000/edit/<%= templates[i].id %>"><i class="fas fa-user-cog" title="Edit survey"></i></a>
                          <a class="card-link" href="/survey/delete/<%= templates[i].id %>"><i class="fa fa-trash" title="Delete survey"></i></a>

                        </div>
                       
                       </div>
                     </div>
                    <% } %>
                     <!-- end of card -->
                       
                    <div class="col-md-6 col-lg-4">
                     <div class="card border-0 ">
                     <div class="card-body">
                      <a  href="#" id="new-survey"> <h3 ><i class="fas fa-plus"></i> New Template </h3></a>      </div>  
                     </div>
                  </div>    
               </div>  
            </section>
            <!--Creat new survey-->
            <div class="modal fade" id="Mymodal">
                 <div class="modal-dialog">
                 <div class="modal-content">
                 <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button> 
                     <h4 class="modal-title"> Creat new survey </h4>                                                          
                 </div> 
                 <div class="modal-body">
                 <form id="MyForm" action="/survey/addsurvey" method="post" >
                   <label>Survey Title</label>
                   <input type="text" name="title" autofocus>
                   <label>Welcome message</label>
                   <textarea  rows="4" name="welcomeMessage"></textarea>
                 
                 </div>   
                 <div class="modal-footer">
                   <nav>
                       <button class="btn btn-primary" type="submit">Create</button>
                   </nav>                     
              </div>
            </form>
              </div>                                                                       
              </div>                                      
            </div>
            
     
         
         
            
        <!-- Script Source Files -->
        <script src="../js/jquery-3.3.1.js"></script>
        <script src="../js/bootstrap.js"></script>
        <script src="../js/base.js"></script>
        <!-- End of Script Source Files -->
   
    </body>
</html>