body{
    height: 100%;
}
.navbar {
    background-color: #262627 !important;
    font-size: 18px;
    padding: 8px;
}
.dropdown-menu{   background-color:#262627;}
.dropdown-item{ color: #D1B385;font-size: 18px;}
.navbar-nav li{
    padding-right: 15px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #A0A4A9;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #D1B385;
    border-bottom: solid 1px;
    transition-property: all;
    transition-duration: .2s; 
    transition-timing-function:linear; 
    transition-delay: 0s;  
}
/* End Navbar*/

.home-inner{
    background-image: url(../images/about.jpg);
    background-size: cover;
 
}
.home-shadow{
    background-color: rgba(0,0,0,.6);
    height: 100%;
}
.caption{
    color: #FFFFFF;
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.caption h1{
    font-size: 80px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
}
.about-text{
    background-color: #AAAFB4;
    padding-top: 200px;
    padding-bottom: 200px;
}
.about-text h1{
    font-size: 60px;
    letter-spacing: 4px;
    padding-bottom: 50px;
}
.about-text p{
    font-size: 25px;
}

/* Start Card Gallery*/

.gallery-block{
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: #F5F1EA;
}
.gallery-block .heading{
    margin-bottom: 50px;

}
.gallery-block .heading h2{
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;   
    letter-spacing: 2px;
}
.gallery-block.cards-gallery h6{
    font-size: 17px;
    font-weight: bold;
}
.gallery-block.cards-gallery p{
    color: #8999D0;
}
.gallery-block.cards-gallery .card img{
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}
.gallery-block.cards-gallery .card-body{
    text-align: center;
}
.gallery-block.cards-gallery .card-body p{
    font-size: 15px;
}
.gallery-block.cards-gallery  a{
    color: red;
}
.gallery-block.cards-gallery  a:hover{
    text-decoration: none;
}
.gallery-block.cards-gallery .card{
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}
@media(min-width:576px){
    .gallery-block .transform-on-hover:hover{
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0,0,0,0.15) !important;
    }
}

/* Start Card Gallery*/

/*  Start Contact Section*/
.contact{
    text-align: center;
    background-color: #D2AD9F;
    padding-top: 30px;
}
.contact span:first-child{
    color: #141517;
    font-size: 49px;
    font-weight: bold;
    font-family: serif,sans-serif;
}
.contact span:last-child{
    display: block;
    font-size: 32px;
    color: #F5F1EA;
     font-family: serif,sans-serif;
}
.contact button{
         background-color: rgba(245, 241, 234, 1);
         border: solid rgba(56, 198, 139, 1) 0px;
         justify-content: center;
         border-radius: 8px;
         height: 50px;
         width: 180px;
         font-size: 21px;
        color:#262627;
        margin-top: 30px;
        margin-bottom: 60px;
}
.contact button:hover{
    background-color: #8E3AAB;
    color: #FFF;
}
/*  End Contact Section*/

/* Start footer*/
.footer-icon{
    position: absolute;
    width: 100%;
    text-align: center;
    background: #141517
}
.btn1{
    display: inline-block;
    width: 90px;height: 90px;
    background: #141517;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0 5px 15px -5px #00000007;
    color: #3498db;
    overflow: hidden;
    position: relative;
}
.btn1 i{
    line-height: 90px;
    font-size: 36px;
    transition: 0.2s linear;
}
.btn1:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
.btn1::before{
    content: " ";
    position: absolute;
    width: 120%;
    height: 120%;
    background:  #3498DB;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn1:hover::before{
    animation: aaa 1s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa{
    0%{
            left: -110%;
            top: 90%;   
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
           top: -10%;
           left: -10%;
    }
}
.footer-icon p{
      color: #F5F1EA;
    padding-bottom: 10px;
    font-size: 20px;
}
/* End footer*/
/* Start Scroll To Tob Button*/
#scroll-top{
    border-radius: 30%;
    padding: 5px;
    text-align: center;
    color: #262627;
    background-color: #E8ECF8;
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 10px;
    z-index: 9999;
    display: none; 
}
/* End Scroll To Tob Button*/
.captionHeader{
    letter-spacing: 0ch !important;
}
.ar-rtl{
    direction: rtl !important;
    text-align: right !important;
}
.navItem{
    padding-left: 750px !important;
    margin-right: 0px !important;
}
.navItem1{
    direction: rtl !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}